SyntaxError: invalid syntax (3401162903.py, line 1)

In [2]:

import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
import joblib

In [3]:
# read iris dataset
iris = pd.read_csv("./Data sets/iris.csv") 
iris.head()

   sepal_length  sepal_width  peta_length  petal_width variety
0           5.1          3.5          1.4          0.2  Setosa
1           4.9          3.0          1.4          0.2  Setosa
2           4.7          3.2          1.3          0.2  Setosa
3           4.6          3.1          1.5          0.2  Setosa
4           5.0          3.6          1.4          0.2  Setosa

In [4]:
X, y = iris.drop(columns="variety"), iris["variety"]

In [5]:
print(X.shape)
print(y.shape)
print(X.head())
print(y.head())

(150, 4)
(150,)
   sepal_length  sepal_width  peta_length  petal_width
0           5.1          3.5          1.4          0.2
1           4.9          3.0          1.4          0.2
2           4.7          3.2          1.3          0.2
3           4.6          3.1          1.5          0.2
4           5.0          3.6          1.4          0.2
0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)
# fit model
clf = svm.SVC(
    C=1.0,
    probability=True, 
    random_state=1)
clf.fit(X_train, y_train)
print('Training Accuracy: ', clf.score(X_test, y_test))
print('Prediction results: ', clf.predict_proba(X_test))

Training Accuracy:  0.9210526315789473
Prediction results:  [[0.01027004 0.00357164 0.98615832]
 [0.01096013 0.74064052 0.24839935]
 [0.93219505 0.05066528 0.01713967]
 [0.01454415 0.97792043 0.00753543]
 [0.01364533 0.39497406 0.59138061]
 [0.01243618 0.97246833 0.0150955 ]
 [0.01175372 0.75338206 0.23486423]
 [0.01209312 0.30559722 0.68230966]
 [0.00971803 0.96115919 0.02912279]
 [0.00897604 0.00411147 0.98691248]
 [0.13063759 0.84441985 0.02494256]
 [0.01568774 0.96673297 0.01757929]
 [0.01012658 0.84245652 0.1474169 ]
 [0.00772109 0.00207057 0.99020834]
 [0.01140578 0.39737405 0.59122018]
 [0.95204994 0.03496748 0.01298258]
 [0.00832155 0.00472748 0.98695098]
 [0.01030079 0.01232627 0.97737294]
 [0.95870164 0.02575433 0.01554403]
 [0.01142607 0.97248549 0.01608845]
 [0.95864456 0.02934172 0.01201372]
 [0.00822211 0.86230952 0.12946837]
 [0.97387621 0.01631122 0.00981257]
 [0.00885205 0.86601062 0.12513732]
 [0.95563954 0.03172352 0.01263694]
 [0.00970038 0.76322246 0.22707715]
 [0.96350428 0.02511066 0.01138507]
 [0.01070183 0.04819611 0.94110206]
 [0.96024172 0.02765537 0.01210291]
 [0.01288528 0.35589006 0.63122466]
 [0.96115334 0.02638436 0.0124623 ]
 [0.9740868  0.01626312 0.00965008]
 [0.96138955 0.02702221 0.01158824]
 [0.9717625  0.01802869 0.0102088 ]
 [0.0099987  0.02181629 0.96818501]
 [0.0089821  0.00374511 0.98727279]
 [0.01015937 0.00731803 0.9825226 ]
 [0.00900445 0.9122625  0.07873305]]

In [8]:
version = 1
joblib.dump(clf, './Models/iris_model_{version}.pkl'.format(version=version))

['./Models/iris_model_1.pkl']